//Colors
$card:#FDFDFB;
$back:#E5E5E5;
$white:#FFFFFF;
$slideBtn:#D4B098;
$foot:#444240;
$main:#1B1A17;
$nav:#555248;


//Font Props

$weightLg:700;
$weightMd:500;
$weightSm:400;

$sizeEx:32px;
$sizeLg:16px;
$sizeMd:14px;
$sizeSm:12px;

$lineLg:40px;
$lineMd:20px;
$lineSm:15px;

$playfair:'Playfair Display SC', serif;
$roboto:'Roboto', sans-serif;
$prata:'Prata', serif;
